.grid {
    /* border: 1px solid salmon; */
    /* height: 100vh - ; */
    /* background: white; */
    box-sizing: border-box;
    display: grid;
    flex :1;

    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
}

.cell {
    /* width: 50px; */
    /* height: 50px; */
    /* background-color: red; */
    border: 1px solid #aaa;
    box-sizing: border-box;
    /* border-radius: 0.25rem; */
    /* scale: 0.9; */

    border-bottom: none;
    border-right: none;
    user-select: none;
    transition: all 150ms ease;
    &:hover {
        scale: 1
    }
}

@keyframes popin {
    0% {
        scale: 0.3;
    }
    80% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

.wall {
    background: #555;
    background: #808080;
    border: none;
    animation: popin 300ms ease;
}

.start {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        inset: 2px;
        background: #666;
        clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
    }
}

.target {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        inset: 2px;
        background: #666;
        clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
        scale: -1 1;
    }
}

.toVisit {
    background-color: rgba(0, 217, 159, 0.4);
}

.visited {
    /* border: none; */
    background-color: rgba(0, 217, 159, 0.75);
    animation: popin 300ms ease backwards;
    /* background: radial-gradient(#f0f000, #ffff80); */
}

.path {
    background-color: #fffe6a;
    border: none;
    animation: popin 300ms ease forwards;
    /* background: radial-gradient(#f0f000, #ffff80); */
}